<!DOCTYPE html>
<html lang="en" ng-app='clickApp'>
<head>
	<meta charset="UTF-8">
	<title>Mighty Clicker</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js'></script>

</head>
<body ng-controller='mainController'>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<button type='button' class="btn btn-primary" ng-click='changeBlue(blue, red)'>Blue</button>
				<h1 ng-model='blue'>{{blueCounter}}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button type='button' class="btn btn-danger"ng-click='changeRed(red, blue)'>Red</button>
				<h1 ng-model='red'>{{redCounter}}</h1>
			</div>
		</div>
	</div>

	<script src='app.js'></script>
	<script src='services/RedService.js'></script>
	<script src='services/BlueService.js'></script>
</body>
</html>